html
  head
    title Direct APIX
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  body
    div(class='container center-align')
      h1 Transaction Success
      a(type='button', value='Home', class='blue lighten-2 btn-large' href='/') Home
